@font-face {
    font-family: 'Funkertale';
    src: url('../fonts/Funkertale.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-size: cover;
    color: white;
    font-family: 'Funkertale';
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

h2 {
    color: white;
    margin-bottom: 1rem;
}

p {
    color: white;
    line-height: 1;
    margin-bottom: 1rem;
    max-width: 850px;
    word-wrap: break-word;
    margin: auto;
    margin: 0 auto 1rem auto;
    max-width: 850px;
    line-height: 1.2;
}

.funkertale {
    font-family: 'Funkertale';
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.linkYellow {
    color: yellow;
}

.characters {
    text-align: center;
}

#beef-strogan {
    margin: auto;
    align-content: center;
    transform: scale(0.9) translateX(-40px) translateY(38px);
    margin-bottom: 15px;
    margin-right: 50px;
}

#geef-spin {
    margin: auto;
    align-content: center;
    transform: scale(0.8) translateY(54.5px) translateX(25px); 
}