        body {
            background-color: black;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            margin: 0;
            padding: 0;
        }
        
        p {
            max-width: 850px;
            word-wrap: break-word;
            margin: auto;
            text-align: center;
            color: white;
        }
        /* FONTS */
        
        @font-face {
            font-family: DTS;
            src: url("assets/fonts/determination.ttf") format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        
        @font-face {
            font-family: Sans;
            src: url("assets/fonts/sansfont.ttf") format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        
        @font-face {
            font-family: Crypt;
            src: url("assets/fonts/crypt.ttf") format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        
        @font-face {
            font-family: Papyru;
            src: url("assets/fonts/papyfont.ttf") format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        
        .dts-text {
            font-family: DTS;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            color: white;
            text-align: center;
        }
        
        .san-text {
            font-family: Sans;
            font-weight: bold;
            font-style: normal;
            font-size: 25px;
            color: white;
            /* Fixes black text bug */
            text-align: center;
            /* Fixes non-centered bug */
        }
        
        .crypt-text {
            font-family: Crypt;
            font-weight: bold;
            font-style: normal;
            font-size: 16px;
            color: white;
            /* Fixes black text bug */
            text-align: center;
            /* Fixes non-centered bug */
        }
        
        .papyru-text {
            font-family: Papyru;
            font-weight: bold;
            font-style: normal;
            font-size: 20px;
            color: white;
            text-align: center;
        }
        /* Background Animation */
        
        #soulBG {
            position: fixed;
            width: 200%;
            height: 200%;
            display: flex;
            background-attachment: fixed;
            background-position: center;
            background-image: url("assets/images/anim/test-soulslidingbg.png");
            filter: opacity(0.1);
            animation: scroll 10s linear infinite forwards;
            z-index: -9999;
        }
        
        @keyframes scroll {
            0% {
                transform: translate(0, -64px);
            }
            100% {
                transform: translate(-64px, -192px);
            }
        }
        
        #logo {
            display: block;
            margin: 10px auto;
            width: 100%;
            max-width: 1000px;
            height: auto;
        }
        
        img {
            display: block;
            margin: 15px auto;
            width: 45%;
            max-width: fit-content;
            height: 45%;
            object-fit: contain;
        }
        
        video {
            width: 45%;
            max-width: fit-content;
            height: auto;
            object-fit: contain;
            display: block;
            margin: 15px auto;
        }
        
        @media (orientation: portrait),
        (max-width: 900px) {
            body {
                overflow-x: hidden;
                text-align: center;
            }
        }